<header class="app-header">
  <div class="brand">🏦 Lipari Bank</div>

  <nav>
    @if (isLoggedIn()) {
      <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
      @if (isAdmin()) {
        <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
      }
      <span style="color: rgba(255,255,255,0.7); font-size:13px; margin: 0 8px;">
        {{ currentUser()?.name }}
      </span>
      <button (click)="logout()">Esci</button>
    } @else {
      <a routerLink="/login">Accedi</a>
    }
  </nav>
</header>

<main>
  @if (isNavigating) {
  <div class="global-loading-overlay">
    <div class="spinner"></div>
    <p>Caricamento...</p>
  </div>
}
  <router-outlet></router-outlet>
</main>
